@font-face {
  font-family: "Playfair Display SC";
  src: url("./PlayfairDisplaySC-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Josefin Slab";
  src: url("./JosefinSlab-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Josefin Slab SemiBold";
  src: url("./JosefinSlab-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("./JosefinSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Josefin Sans Light";
  src: url("./JosefinSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
