@import "fonts/fonts.css";

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 16px;
}

@media screen and (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 10px;
  }
}

::-webkit-scrollbar-track {
  background: #c0b18b;
}

::-webkit-scrollbar-thumb {
  background: #7a7158;
  background-image: url("/public/images/black-paper.png");
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
  overflow: hidden;
  overflow-y: hidden;
  background: #000000;
  margin: 0;
  padding: 0;
  font-family: "Josefin Slab", serif;
}

h1 {
  font-family: "Playfair Display SC", cursive;
  font-size: 60pt;
  margin: 0;
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 1;
  color: #35312b;
  mix-blend-mode: color-burn;
}

h2 {
  font-family: "Playfair Display SC", cursive;
  font-size: 50pt;
  font-weight: 300;
  margin-top: 50px;
  margin-bottom: 20px;
  color: #35312b;
  mix-blend-mode: color-burn;
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 52pt;
    line-height: 52pt;
  }
  h2 {
    font-size: 40pt;
    line-height: 40pt;
  }
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 40pt;
    line-height: 40pt;
    padding: 20px 0px;
    margin-top: 30px;
  }
  h2 {
    font-size: 32pt;
    line-height: 32pt;
    padding: 20px 0px;
  }
}

@media screen and (max-width: 780px) {
  h1 {
    font-size: 30pt;
    line-height: 30pt;
    padding: 20px 0px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 24pt;
    line-height: 24pt;
    margin-top: 10px;
  }
  h2 {
    font-size: 22pt;
    line-height: 22pt;
  }
}

p {
  font-family: "Josefin Slab", serif;
  font-size: 16pt;
  font-weight: 500;
  line-height: 28pt;
  margin: 0;
  color: #35312b;
  letter-spacing: 0.5px;
  word-spacing: 3px;
  text-shadow: 0.2px 0.2px 1.3px Sienna;
}

@media screen and (max-width: 600px) {
  p {
    font-size: 12pt;
  }
}
